/* BODY */
body {
  background-color: #2da6ca;
  background-image: linear-gradient(rgba(107, 204, 228, 0.842), rgba(11, 94, 119, 0.89));
  font-family: Roboto;
}

/* HEADER */
.bg-body-my {
  padding: 20px;
  margin-bottom: 15px;
}

.title-header {
  color: white;
  font-size: 50px;
  margin: 0 auto;
  box-shadow: 0 10px 10px rgba(53, 53, 53, 0.3);
  padding: 20px 80px;
  border-radius: 18px;
  background-color: #ffffff50;
}

/* INFO LUOGO */
.info {
  background-color: rgba(180, 220, 255, 0.466);
  color: white;
  font-size: 20px;
  margin-bottom: 25px;
  color: #ffffff;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 20px;
  padding: 20px;
}

/* CARD */
.card {
  height: 280px;
  text-align: center;
  box-shadow: 0 10px 10px rgba(53, 53, 53, 0.3);
  border-radius: 20px;
}

.card-body p {
  font-size: 23px;
  font-family: Bricolage Grotesque;
}

/* CARD DAYS */
.card-days {
  background-color: #333;
  color: white;
  border-radius: 8px;
}

/* ICONE */
.icon {
  width: 55px;
  align-self: center;
  margin-bottom: 20px;
}

.icon-2 {
  width: 68px;
  margin-bottom: 20px;
}

.icon-3 {
  width: 30px;
}

/* SELECT */
select {
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  color: #333;
}

select:focus {
  border-color: #F9BB00;
  outline: none;
  box-shadow: 0 0 0 3px rgba(77, 163, 255, 0.3);
}

/* UTILITY */
h5 {
  font-size: 30px;
}

h2 {
  color: white;
}

/* LOADER */
.loader {
  width: 8px;
  height: 48px;
  display: inline-block;
  position: relative;
  border-radius: 4px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow: 20px 0 rgba(255, 255, 255, 0), 40px 0 rgba(255, 255, 255, 0), 60px 0 rgba(255, 255, 255, 0), 80px 0 rgba(255, 255, 255, 0), 100px 0 rgba(255, 255, 255, 0);
  }

  20% {
    box-shadow: 20px 0 white, 40px 0 rgba(255, 255, 255, 0), 60px 0 rgba(255, 255, 255, 0), 80px 0 rgba(255, 255, 255, 0), 100px 0 rgba(255, 255, 255, 0);
  }

  40% {
    box-shadow: 20px 0 white, 40px 0 white, 60px 0 rgba(255, 255, 255, 0), 80px 0 rgba(255, 255, 255, 0), 100px 0 rgba(255, 255, 255, 0);
  }

  60% {
    box-shadow: 20px 0 white, 40px 0 white, 60px 0 white, 80px 0 rgba(255, 255, 255, 0), 100px 0 rgba(255, 255, 255, 0);
  }

  80% {
    box-shadow: 20px 0 white, 40px 0 white, 60px 0 white, 80px 0 white, 100px 0 rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 20px 0 white, 40px 0 white, 60px 0 white, 80px 0 white, 100px 0 white;
  }
}

/* FOOTER */
.info-footer,
li {
  list-style-type: none
}


/* MEDIA QUERY */
@media (max-width: 550px) {
  .title-header {
    padding: 23px;
  }
}

@media (max-width: 430px) {
  .title-header {
    padding: 18px;
    font-size: 40px;
  }
}

@media (max-width: 575px) {
  .card {
    width: 70%;
    text-align: center;
  }
}

@media (max-width: 575.98px) {
  .card {
    width: 100%;
    padding: 10px;
  }

  .card,
  h5 {
    font-size: 20px;
  }

  .card,
  p {
    font-size: 10px;
  }

  .media-q-sunSet h5 {
    display: none;
  }

  .media-q-temperature,
  b {
    display: none;
  }
}